<h1>The Longest Word Game</h1>

<ul>
o  <li>Translation: <%= @result[:translation]%></li>
  <li>Time: <%= @result[:time]%></li>
  <li>Message: <%= @result[:message]%></li>
  <li>Score: <%= @result[:score]%></li>
</ul>

<h5><%= link_to "Play a new game", new_path %></h5>
